# Frontend
VITE_PUBLIC_BROKER_API_URL=http://localhost:8080

# Broker Service
RABBIT_URL=amqp://guest:guest@rabbitmq:5672
AUTH_SERVICE_HOST=authentication-service:50051
USER_SERVICE_HOST=user-service:50052
PRODUCT_SERVICE_HOST=product-service:50053
CART_SERVICE_HOST=cart-service:50054
CHECKOUT_SERVICE_HOST=checkout-service:50055
LOGGER_SERVICE_HOST=logger-service:50056
MAIL_SERVICE_HOST=mail-service:50057

# Auth Service
AUTH_DB_USER=postgres-auth
AUTH_DB_PASSWORD=password
AUTH_DB_NAME=auth
AUTH_DB_SSLMODE=disable

# User Service
USER_DB_NAME=users
USER_DB_PASSWORD=password
USER_DB_USER=postgres-users
USER_DB_SSLMODE=disable

# Product Service
PRODUCT_DSN=host=postgres-products port=5433 user=postgres-products password=password dbname=products sslmode=disable timezone=UTC connect_timeout=5
PRODUCT_DB_USER=postgres-products
PRODUCT_DB_PASSWORD=password
PRODUCT_DB_NAME=products
PRODUCT_DB_SSLMODE=disable


# Cart Service
REDIS_CART_HOST=redis-cart
REDIS_CART_PORT=6379
REDIS_CART_PASSWORD=

# Checkout Service
MONGO_DATABASE_CHECKOUT=checkout
MONGO_USERNAME_CHECKOUT=checkout_user
MONGO_PASSWORD_CHECKOUT=password

# Logger Service
MONGO_USERNAME_LOGGER=logger_user
MONGO_PASSWORD_LOGGER=password
MONGO_DATABASE_LOGGER=logs

# Mail Service
MAIL_DOMAIN=vntech.id.vn
MAIL_HOST=mail.vntech.id.vn
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=noreply@vntech.id.vn
MAIL_PASSWORD=
FROM_NAME=VNTECH E-commerce
FROM_ADDR=noreply@vntech.id.vn

# Service Ports
USER_SERVICE_PORT=50052
AUTH_SERVICE_PORT=50051
PRODUCT_SERVICE_PORT=50053
CART_SERVICE_PORT=50054
CHECKOUT_SERVICE_PORT=50055
LOGGER_SERVICE_PORT=50056
MAIL_SERVICE_PORT=50058
BROKER_SERVICE_PORT=8080

# Environment
ENVIRONMENT=development
