@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
  }
}
/* Custom utility for hiding scrollbar */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .transparent-autofill:-webkit-autofill,
  .transparent-autofill:-webkit-autofill:hover,
  .transparent-autofill:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px theme('colors.surf-crest') inset !important;
  }
}

@layer components {
  .btn-primary {
    @apply bg-ocean-green text-white px-4 py-2 rounded-[22px] font-bold w-[181px] h-[42px]  ;
  }

  
  .btn-primary-cy {
    @apply bg-cyprus text-white px-4 py-2 rounded-[22px] font-bold w-[181px] h-[42px];
  }
  
  .btn-accent {
    @apply bg-white border border-gray-300 text-black px-4 py-2 rounded-[22px] w-[181px] h-[42px] ;
  }
  
  .btn-secondary {
    @apply bg-aqua-spring text-black px-4 py-2 rounded-[22px] w-[181px] h-[42px] ;
  }
  
  .btn-gradient {
    @apply px-4 py-2 text-white rounded-[22px] w-[181px] h-[42px] bg-gradient-to-r from-[#173FAB] to-[#8E3A9A];
  }

  .btn-gray {
    @apply px-4 py-2  text-white bg-grey rounded-[22px] w-[181px] h-[42px] ;
  }

  .btn-black {
    @apply bg-dark-gray text-white py-2 px-4 hover:bg-opacity-90 transition-all duration-200 rounded-[22px] w-[181px] h-[42px] ;
  }

  .card {
    @apply bg-white p-4 rounded-default shadow-ambient-1;
  }
  
  .search-field {
    @apply bg-aqua-spring rounded-full px-4 py-2 w-full;
  }

  .header-1 {
    @apply font-lato font-bold text-[57px] tracking-[-0.25px];
  }
  
  .header-2 {
    @apply font-lato font-normal text-[32px] tracking-[0px];
  }
  
  .title-dashboard {
    @apply font-lato font-bold text-[18px] tracking-[-2px];
  }
  
  .title {
    @apply font-lato font-normal text-[22px];
  }
  
  .body-text {
    @apply font-lato font-normal text-base leading-[1.4];
  }

  .button-text {
    @apply font-lato font-bold text-[16px] tracking-[0px];
  }


}