{{define "body"}}
Hello,

This is a confirmation that the password for your account ({{.email}}) has been changed successfully.

The change was made on: {{.changed_at}}

IMPORTANT: If you did not make this change, please contact our support team immediately at security@ourplatform.com or
by replying to this email.

You can log in to your account with your new password at:
https://ourplatform.com/login

Best regards,
The Team

----
© {{.year}} Our Platform. All rights reserved.
This email was sent to {{.email}}. If you received this by mistake, please ignore this email.
{{end}}